<a href="https://colab.research.google.com/github/AlejandroLopezDS/Academypublic/blob/main/WineData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#example

In [8]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle (2).json
mkdir: cannot create directory ‘/root/.kaggle’: File exists
red-wine-quality-cortez-et-al-2009.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  red-wine-quality-cortez-et-al-2009.zip
replace winequality-red.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

city = ['Malaga', 'Berlin']

In [16]:
city.append('Rio')

In [48]:
city.insert(2,'hk')

In [49]:
city.remove('Malaga')

In [52]:
val = 1

In [54]:
if val > 0:

  print('The value is positive')

elif val < 0:

  print('The value is negative')

else:

  print('The value is equal to 0')

The value is positive

In [58]:
fruits = ['Apple', 'pear']

In [68]:
def area(lengh, diwth):
  'dfdf'
  area_c = lengh * diwth

  return area_c

In [78]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/winequality-red.csv')

df

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [85]:
df.describe

<bound method NDFrame.describe of       fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]>

In [88]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [106]:
df[df['fixed acidity']>10]

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
3              11.2              0.28         0.56  ...       0.58      9.8        6
56             10.2              0.42         0.57  ...       0.63      9.6        5
113            10.1              0.31         0.44  ...       0.67      9.7        6
197            11.5              0.30         0.60  ...       0.97     10.1        6
205            12.8              0.30         0.74  ...       0.77     10.8        7
...             ...               ...          ...  ...        ...      ...      ...
1434           10.2              0.54         0.37  ...       0.77      9.0        6
1435           10.2              0.54         0.37  ...       0.77      9.0        6
1454           11.7              0.45         0.63  ...       0.69     10.9        6
1543           11.1              0.44         0.42  ...       0.57     10.4        6
1548           11.2              0.40         0.50  ...       0.58     10.4        5

[253 rows x 12 columns]

In [110]:
df[df['quality'].between(7,8)]

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
7               7.3              0.65         0.00  ...       0.47    10.00        7
8               7.8              0.58         0.02  ...       0.57     9.50        7
16              8.5              0.28         0.56  ...       0.75    10.50        7
37              8.1              0.38         0.28  ...       0.73     9.70        7
62              7.5              0.52         0.16  ...       0.62     9.50        7
...             ...               ...          ...  ...        ...      ...      ...
1541            7.4              0.25         0.29  ...       0.76    10.90        7
1544            8.4              0.37         0.43  ...       0.81    11.20        7
1549            7.4              0.36         0.30  ...       0.70    11.40        8
1555            7.0              0.56         0.17  ...       0.68    10.55        7
1584            6.7              0.32         0.44  ...       0.80    11.60        7

[217 rows x 12 columns]

In [113]:
mask2 = df['fixed acidty'].between(5,6)

KeyError: ignored